# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary Files
# =========================

*.tmp
*.temp
# =========================
# Generated Audio / Test Artifacts
# =========================

*.wav
*.mp3